<section class="min-h-screen w-screen h-auto bg-[#3F3F37]">
    <section class="flex flex-col items-center pt-24 w-full h-auto" style="padding-top: 5rem;">
        <div class="rounded-full bg-[url('/images/imagen_mia.jpg')] h-40 w-40 bg-cover bg-bottom"></div>
        <h1 class="text-[#D6D6B1] text-2xl font-bold top-[2px]">David Barriuso Rozalén</h1>
    </section>
    <nav class="w-screen h-auto flex justify-center" style="padding-top: 2rem;">
        <ul class="flex w-[20rem] bg-[#D6D6B1]  justify-around rounded-full border border-black" >
            <li class="h-full duration-150 rounded-s-full cursor-pointer w-full hover:bg-[#908D71]" style="padding: 1rem;">Proyectos</li>
            <li class="h-full duration-150 w-full hover:bg-[#908D71] cursor-pointer" style="padding: 1rem;">Sobre mi</li>
            <li class="h-full duration-150 rounded-e-full cursor-pointer w-full hover:bg-[#908D71]" style="padding: 1rem;">Contacto</li>
        </ul>
    </nav>
    
</section>

<router-outlet />
